BasedOnStyle: Chromium 
ReflowComments: false
IndentWidth: 3
UseTab: Never
SpacesBeforeTrailingComments: 2
TabWidth: 3
ColumnLimit: 80
AllowShortFunctionsOnASingleLine: None
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 2
AlignAfterOpenBracket: BlockIndent